@import './base.css';

body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow: hidden; /* Prevent scrollbars */
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the app fills the viewport height */
  width: 100vw; /* Ensure the app fills the viewport width */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
